{% extends "padre.html" %}

{% load static %}

{% block changed_content %}

<p>¿Estás seguro que querés eliminar al siguiente jugador?:</p><br>
<ul style="list-style: none;">
    <img src="{{object.imagen.url}}" alt="Escudo {{object.nombre}}" onerror="this.onerror=null;this.src='/media/No-Image-Placeholder.jpg';">
    <li>Nombre: {{object.nombre}}</li>
    <li>Apellido: {{object.apellido}}</li>
    <li>Pie hábil: {{object.pie_fav}}</li>
    <li>Posición: {{object.posicion}}</li>
    <li>Equipo actual: {{object.equipo_act}}</li>
</ul>

<form method="POST" action="">{% csrf_token %}

    <button><a href="{% url 'Inicio' %}" style="color: black; text-decoration: none;">Cancelar</a></button>
    <input type="submit" name="Confirmar">
</form>

{% endblock %}