{% extends "padre.html" %}

{% load static %}

{% block changed_content  %}

<h1 style="display: flex; justify-content: center;"> Estadios </h1>

<div class="estadios">
    {% for i in estadios %}
    <div class="estadios_ind">
        <img src="{{i.imagen.url}}" alt="Escudo {{i.nombre}}" onerror="this.onerror=null;this.src='/media/No-Image-Placeholder.jpg';">
        <li>Nombre: {{i.nombre}}</li>
        <li>Capacidad: {{i.capacidad}}</li>
        <li>Ubicación: {{i.ubicacion}}</li>
        <li>Equipo: <a href="../buscarItem/?nombre={{i.equipo}}">{{i.equipo}}</a></li>
        <button class="boton_regular"><a href="{% url 'EditarEstadio' i.nombre %}" style="color: black; text-decoration: none;">Editar</a></button>
        <button class="boton_regular"><a href="{% url 'EliminarEstadio' i.nombre %}" style="color: black; text-decoration: none;">Eliminar</a></button>
    </div>
    {% endfor %}
</div>
{% endblock %}