{% extends "padre.html" %}

{% load static %}

{% block changed_content  %}

<h1 style="display: flex; justify-content: center;"> Vista Inicial </h1>

{% if not request.user.is_authenticated %}
<p style="display: flex; justify-content: center;"> Para utilizar todas las funcionalidades del sitio, por favor crea una cuenta o inicia sesión desde el menú de opciones</p>

{% elif request.user.is_authenticated %}
<p style="display: flex; justify-content: center;"> ¿Sabías que al ser usuario registrado puedes agregar nuevos equipos, estadios o jugadores a nuestra base de dato desde las opciones de arriba a la derecha?</p>

{% endif %}


{% endblock %}