{% extends "padre.html" %}

{% load static %}

{% block changed_content  %}

{% if crear_jugador %}
    <h1 style="text-align: center;"> Nuevo jugador </h1>
{% elif form %}
    <h1 style="text-align: center;"> Editar jugador </h1>
{% endif %}

    {% if crear_jugador.errors %}
    
    <p style="color: red">Datos incorrectos, por favor revisar.</p>

    {% endif %}

    {% if crear_jugador %}
    <form style="display: flex; justify-content: center;" action="../nuevoJugador/" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% elif form %}
    <form style="display: flex; justify-content: center;" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% endif %}
    
       <table>
        {% if crear_jugador %}
            {{crear_jugador.as_table}}
        {% elif form %}
            {{form.as_table}}
        {% endif %}

       </table>

        <input type="submit" value="Enviar">

    </form>
    <p style="display: flex; justify-content: center;">Tené en cuenta que la foto a subir se verá en 300x300px</p>
{% endblock %}