{% extends "padre.html" %}

{% load static %}

{% block changed_content  %}

<h1 style="display: flex; justify-content: center;">Sobre mí</h1>
<ul style="list-style: none; text-align: center;">
    <li><img src="../media/IMG-20230308-WA0115.jpg" style="width: 200px; height: 250px; border-radius: 100%; box-shadow: lightgrey;"></li>
    <li style="font-weight: bolder;">Ignacio Humphreys</li>
    <li style="font-weight: bolder;">25 años</li>
    <li style="font-weight: bolder;">Buenos Aires, Argentina</li>
</ul>
<p style="width: 50%;text-align: center;flex-wrap: wrap;flex-direction: row;justify-content: center;display: flex;margin-left: 27%;margin-right: 20%;">
    Me desempeño como líder de equipo en una empresa multinacional hace casi 5 años. A lo largo de mi carrera, he desempeñado múltiples funciones y, gracias a ellas, he desarrollado mis habilidades en el área de ventas, manejo de equipos, trato directo con el cliente y manejo y creación de archivos para optimizar mi gestión. <br><br>

    Más allá de mi experiencia laboral, me encanta codear y he adquirido conocimientos en HTML, CSS, SASS, JavaScript y Python a través de cursos aquí en Coderhouse y también por mi cuenta. Además, cuento con conocimientos rudimentarios de C++ y Java pero espero poder aprender más sobre estos lenguajes y así ampliar mi conjunto de habilidades. <br><br>

    Si bien actualmente programar es un pasatiempo para mí, estoy buscando activamente oportunidades para convertirlo en una carrera. Estoy entusiasmado y abierto a toda nueva posibilidad y espero que el día de mañana pueda estar trabajando como programador, ya que he descubierto que es lo que realmente me apasiona
</p>

{% endblock %}